@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s365az');
  src:  url('fonts/icomoon.eot?s365az#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s365az') format('truetype'),
    url('fonts/icomoon.woff?s365az') format('woff'),
    url('fonts/icomoon.svg?s365az#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-normal-25:before {
  content: "\e930";
}
.icon-normal-24:before {
  content: "\e92e";
}
.icon-normal-23:before {
  content: "\e927";
}
.icon-normal-22:before {
  content: "\e929";
}
.icon-normal-21:before {
  content: "\e92a";
}
.icon-normal-20:before {
  content: "\e92b";
}
.icon-normal-19:before {
  content: "\e92c";
}
.icon-normal-18:before {
  content: "\e92d";
}
.icon-normal-17:before {
  content: "\e928";
}
.icon-normal-16:before {
  content: "\e91d";
}
.icon-normal-15:before {
  content: "\e916";
}
.icon-normal-14:before {
  content: "\e917";
}
.icon-normal-13:before {
  content: "\e918";
}
.icon-normal-12:before {
  content: "\e919";
}
.icon-normal-11:before {
  content: "\e91a";
}
.icon-normal-10:before {
  content: "\e91b";
}
.icon-normal-9:before {
  content: "\e91c";
}
.icon-normal-8:before {
  content: "\e906";
}
.icon-normal-7:before {
  content: "\e907";
}
.icon-normal-6:before {
  content: "\e908";
}
.icon-normal-5:before {
  content: "\e901";
}
.icon-normal-4:before {
  content: "\e902";
}
.icon-normal-3:before {
  content: "\e903";
}
.icon-normal-2:before {
  content: "\e904";
}
.icon-normal-1:before {
  content: "\e905";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-attachment:before {
  content: "\e9cd";
}
