@import "../../../assets/scss/abstracts/abstracts-dir.scss";

.form-group {
  position: relative;
  margin-bottom: 25px !important;
  input {
    height: 50px;
  }
  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: $c6;
  }
  input,
  textarea,
  select {
    border: 0.8px solid $c17;
    font-size: 16px;
    color: $c5;
    border-radius: 4px;
    &::placeholder {
      color: $c7;
    }
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  textarea {
    min-height: 108px;
    padding: 10px;
  }
}
