@import "../../../assets/scss/abstracts/abstracts-dir.scss";
.form-group {
  .select-form-control {
    background-image: url("../../../assets/images/svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 90%;
    height: 50px;
    &:focus {
      border: 0.8px solid $c17;
    }
  }
} 
.inner-page.Hcp {
  .form-group .select-form-control {
    background-image: none;
  }
}
